/*NAVBAR*/

.navbar {
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffe46a;
  text-decoration: none;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-list li a:hover {
  color: #ffe46a;
}

.navbar-list-right {
  margin-left: auto;
}

.navbar-list-right li {
  margin-right: 0;
  margin-left: 20px;
}

.navbar-list-right li:first-child {
  margin-left: 0;
}

.navbar-list-right li a {
  background-color: #ffe46a;
  color: #111111;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-list-right li a:hover {
  background-color: #ffb300;
}



/*TABLA DIVISAS*/

#TablaDivisas {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  
  
}

#TablaDivisas th,
#TablaDivisas td {
  padding: 30px;
  text-align: left;
  border-bottom: 4px solid #ffffff;
}

#TablaDivisas th {
  background-color: #000000;
  font-weight: bold;
}

#TablaDivisas tbody tr:hover {
  background-color: #fdd835;
  cursor: pointer;
}

#TablaDivisas tbody tr:hover td {
  color: #000000;
}

#TablaDivisas th,
#TablaDivisas td {
  font-size: 14px;
}

#TablaDivisas th:first-child,
#TablaDivisas td:first-child {
  padding-left: 20px;
}

#TablaDivisas th:last-child,
#TablaDivisas td:last-child {
  padding-right: 20px;
}


/* CONVERSOR */

.converter {
  color: #ffe46a;
  max-width: 300px;
  margin: 30px auto;
  background-color: #111111;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.converter h2 {
  margin-top: 0;
  
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
  margin-right: 20px;
}

.input-group label {
  display: inline-block;
  width: 70px;
  text-align: right;
  
}

.input-group select {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  
}

.btn.convert {
  display: block;
  margin: 10px auto;
  background-color: #fdd835;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.convert:hover {
  background-color: #ffb300;
}

.converter input[type="number"],
.converter input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  
    
  }


/*TITULO*/  
h1{
  background-color: #111111;
  margin-top: 0px;
  margin-bottom: 0px;
}
p{
  background-color: #111111;
  margin-top: 0px;
}

/* CALCULADORA */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111111;
    background-image: url("./images/FondoPagina.jpg");
    color: #fdd835;
    
    
}


.supercalculadora {
  max-width: 300px;
  margin: 20px auto;
  background-color: #111111;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

.supercalculadora .input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.supercalculadora .btn {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin: 5px;
  background-color: #ffffff;
  color: #050505;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.supercalculadora .btn:hover {
  background-color: #fffc44;
}

.supercalculadora .btn.zero {
  width: 150px;
}

.supercalculadora .btn.clear {
  background-color: #ff5043;
}

/*FOOTER*/

.footer {
    background-color: #111111;
    padding: 20px;
    text-align: center;
    }

.footer p {
    margin: 0;
    }

.footer a {
    color: #111111;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .divider {
    margin: 10px 0;
    border-top: 1px solid #ffe551;
}

.footer .iconos-redesSociales {
    margin-top: 20px;
}

.footer .iconos-redesSociales a {
    display: inline-block;
    margin-right: 10px;
}

.footer .iconos-redesSociales img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}